<div id='ticket'>
    <h2><%= @ticket.title %></h2>
	<span id='author'>Created by <%= @ticket.user.email %></span>
	<%= link_to "Edit Ticket", [:edit, @project, @ticket] %>
    <%= simple_format(@ticket.description) %>
  </div>
  <%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
  data: { confirm: "Are you sure you want to delete this ticket?"} %>
 